/* General styles for the calendar */
.react-calendar {
    width: 100%;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .react-calendar__tile {
    padding: 10px;
    text-align: center;
    border-radius: 8px;
  }
  
  .react-calendar__tile--active {
    background: #f0f0f0;
    color: #000;
  }
  
  .react-calendar__tile--now {
    background: #d3e8f0;
    color: #000;
  }
  
  .event {
    font-size: 0.8em;
    margin-top: 5px;
  }
  
  .event.green {
    color: green;
  }
  
  .event.orange {
    color: orange;
  }
  
  .event.blue {
    color: blue;
  }
  
  .event.grey {
    color: grey;
  }
  
  /* Custom styles for form component */
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .file-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
  }
  
  .file-upload-container.dragging {
    border-color: #999;
  }
  
  .file-upload-placeholder {
    margin-bottom: 10px;
  }
  
  .file-upload-placeholder img {
    width: 50px;
    height: 50px;
  }
  
  .file-upload-hint {
    color: #666;
    font-size: 0.9em;
  }
  
  .image-preview-container {
    margin-top: 10px;
  }
  
  .image-preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  