
.postal-codes-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.postal-code-item {
    position: relative;
    padding-left: 1em; /* Add padding to make space for the bullet */
}

.postal-code-item::before {
    content: "•";
    position: absolute;
    left: 8em;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 8px 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
